body{
  background-color: rgb(30, 204, 210);
}

.div1{
  display: inline-block;
  margin: 15px;
}

img{
  width: 400px;
  height: 400px;
  border: 3px solid black;
  
}
h1{
  color: rgb(64, 21, 216);
}