body {
  background-color: cornsilk;
}

.div1 {
  display: inline-block;
  margin: 15px;
}

img {
  width: 400px;
  height: 400px;
  border: 3px solid black;
}
h1 {
  color: chocolate;
}
.foodGrid {
  display: flex; /* KEY LINE */
  justify-content: center;
  gap: 20px; /* space between cards */
}

.foodCard {
  width: 210px;
  border: 3px solid #020202;
  border-radius: 8px;
  background-color: #e6adad;
}

.foodImage {
  width: 200px;
  height: 140px;
  object-fit: cover;
  border: white 4px solid;
}
.container {
  margin: 40px auto;
  text-align: center;
  font-family: Arial, sans-serif;
  border: #020202 4px solid;
  padding: 20px;
}

.title {
  color: #8b0000;
  margin-bottom: 30px;
  font-family: cursive;
  background-color: rgba(226, 211, 211, 0.604);
}
